@font-face {
  font-family: 'Inter';
  src:
  url(./inter/InterLight.eot),
  url(./inter/InterLight.ttf) format('truetype'),
  url(./inter/InterLight.woff) format('woff'),
  url(./inter/InterLight.woff2) format('woff2');
  font-weight: 300;
  font-style: normal;
}
/* bold italic inter */
@font-face {
  font-family: 'Inter';
  src:
  url(./inter/InterBoldItalic.eot),
  url(./inter/InterBoldItalic.ttf) format('truetype'),
  url(./inter/InterBoldItalic.woff) format('woff'),
  url(./inter/InterBoldItalic.woff2) format('woff2');
  font-weight: 600;
  font-style: italic;
}